.carrito{
    width: 25%;
    top: 10%;
    left: 75%;
    height: 100%;
    background-color: black;
    position: fixed;
    z-index: 999;
}

.h1-carrito{
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    margin-left: 0%;
}

.productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blue;
    height: 55vh;
}

.carrito p{
    color: rgb(255, 255, 255);
    margin-top: 2rem;
    width: 100%;
    margin-left:0%;
    font-size: 2rem;
}