
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



:root {
--primary-gold:     #F5C518 ; /* Amarillo brillante del logo */
--primary-orange:   #E68A00;  /* Naranja del degradado */
--dark-bg:          #1A1A1A;  /* Negro del logo */
--warm-bg:          #F8F4EE ; /* Beige cálido para fondos */
--text-dark:        #111111 ; /* Texto principal */
--text-muted:       #666666  ;/* Texto secundario */
}

.header {
    background-image: url("../../assets/Fondo5.png");
    background-size: cover;
    padding-bottom: 10rem;
}

.header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 10%;
}

button {
    margin-top: 5rem;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #705858;
    background-color: rgb(253, 251, 251);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header-title {
    font-size: 3rem;
    margin: 0;
    color:rgb(249, 233, 180);    
    text-align: center;

}

.rozvi{    
    font-family: 'Playfair Display', serif;
    font-size: 7rem;
    letter-spacing: -0.02em;
    color: var(--warm-bg);
    margin: 0;
}

.shadow-yellow-xl {
  box-shadow: 0 35px 60px -15px rgba(245, 197, 24, 0.4);
}
